body {
  font-family: 'Poppins', sans-serif;
  margin: 0; text-align: center;
}

.input-section {
  background-color: #cce7ff;
  padding: 25px;
  border-radius: 12px;
}

.output-section {
  background-color: #caffbf;
  color: #000;
  padding: 25px;
  border-radius: 12px;
  margin: 20px;
  text-align: left;
}

input, select {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #555;
}

button {
  margin: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  color: #003366;
}

.food-item {
  margin: 5px 0;
}
